name: CI - Task 6

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

    #   - name: Lint with flake8
    #     run: |
    #       flake8 src tests --max-line-length=120

      - name: Run API tests
        run: |
            pytest tests/test_api.py --maxfail=1 --disable-warnings -q
